<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.0/socket.io.min.js"></script> 
</head>
<body>
    <h1>Anasayfa</h1>
    <input type="text" class="input">
    <button onclick="sendMessageToEveryone()">Send Message</button>

    <h2></h2>
    <script>

        const clientSocket = io("http://localhost:3012");

        clientSocket.on('connection');
        
        clientSocket.on('message',data=>{
            const h2=document.querySelector('h2');
            h2.innerHTML=data
        })

        const sendMessageToEveryone=()=>{
            const message=document.querySelector('.input').value;
            clientSocket.emit('message',message)
           
        }

    </script>
</body>
</html>